.portfolio-container-split{
    position: fixed;
    background-color: black;
    z-index: 1;

    display: flex;
    justify-content: space-between;
}

.half{
    width: 50%;
    padding: 37px 10px 0px 10px;
    text-align: justify;
}
