.App {
  text-align: center;
}

body{
    background-color: #FFFFFF;
    margin: 0px;
}

hr{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
